html{
  
    background-color: #2c3034;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    color: #bbbbbd;

}
p{
    color: #7f7f7f;
}

body{
    display: flex;
}
h1{

    text-align: center;
    font-weight: 200;
    letter-spacing: 0.1px;
    position: relative;
}
.upper > h2{
    position: relative;
    left: 100px;
    top: -100px;
}
.dashboard{
    display: inline-block;
    width: 15%;
    height: 720px;

    position: relative;
    border-right: 2px solid #a8a8a8;
}

.upper{
    display: inline-block;
    width: 85%;
    height: 20vh;

    border-bottom: 2px solid #a8a8a8;
    position: relative;

}

.upper  .bottom{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 72vh;
    background-color: #23242b;

    display: flex;
    top: -90px;
    padding-top: 30px;

}

button{
    width: 100%;
    color: white;
    margin-bottom: 1px;
    height: 50px;
    font-size: larger;
    text-align: center;
    transition: 0.5s;
    position: relative;
    background: transparent;
    border: none;
    cursor: pointer; 
}


body > div.upper > h6{
    position: relative;
    left: 140px;
    top: 10px;



}
body > div.upper > h2{
    position: relative;
    left: 140px;;

}



.photo{
    position: relative;
    width: 60px;
    border-radius: 50%;
    top: -45px;
    left: 50px;
}


button:hover {
    color: #f66673;
    background-color: rgb(62, 62, 62);
    border-left: 5px solid #f66673;

}


.searchbar{
    width:50%;
    height: 25px;
    border-radius: 20px;
    position: relative;
    left: 75px;
    top: 5px;
}


.firstcolumn{
    display: flex;


    flex-direction: column;
}

.bottom > .secondcolumn{
    display: flex;
    flex-direction: column;
}

.thirdcolumn{
    display: flex;
    flex-direction: column;
    position: relative;
    top: -510px;
    left: 300px;
}
.bottom .box{
    margin: 10px;
    background-color: #2c3034;
    width: 400px;
    border-radius: 10px;
    text-align: justify;
    height: 150px;
    border-left: 10px solid blueviolet;
    padding-left: 5px;;

}
body > div.upper > div > div.secondcolumn > div.thirdcolumn {
    position: relative;
    margin-left: 140px;
    text-align: center;

}
body > div.upper > div > div.secondcolumn > div.thirdcolumn > .box1,.box2{
    height: 230px;
    width: 250px;
    position:relative;
    top: 10px;
    background-color: #2c3034;
    border-radius: 10px;
    margin-bottom: 28px;
    text-align: left;
    padding-left: 10px;
}
.bottom{
    position: relative;
    top: -100px;
}



.fa-bell{
    position: relative;
    color: black;
    float: right;
    margin-right: 300px;
}



div.upper .fp img{
    display: flex;
    width: 40px;
    margin-bottom: 10px;
    border-radius: 85%;
    margin-top: 0px;
}
div.upper .fp h2{
position: relative;
top: -50px;
left: 60px;
margin-top: 0px;
}
body > div.upper > div > div.secondcolumn > div.thirdcolumn > div.box2 > div > img.photo5{
    position: relative;
    top: -45px;
}
body > div.upper > div > div.secondcolumn > div.thirdcolumn > div.box2 > div > img.photo6{
    position: relative;
    top: -90px;
}
body > div.upper > div > div.secondcolumn > div.thirdcolumn > div.box2 > div > h2:nth-child(4){
    position: relative;
    top: -90px;
}
body > div.upper > div > div.secondcolumn > div.thirdcolumn > div.box2 > div > h2:nth-child(5){
    position: relative;
    top: -90px;
}

body > div.upper > div > div.secondcolumn > div.thirdcolumn > div.box2 > div > h2.fh{
    position: relative;
    top: -140px;
}

input{
    background-color: #7f7f7f;
    margin: 2px solid #7f7f7f;
}

input:hover{
    background-color: #7f7f7f;

    cursor:context-menu;
    font-size: larger;
    color: white;
    padding-left: 10px;
}